* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --wave-bounce-time: 30s;
}
html {
  font-size: 62.5%;
}

body {
  height: 100svh;
  overflow: hidden;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  height: 100%;
}

.play-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.play-btns__btn {
  overflow: hidden;
  position: relative;
  padding: 0.25em 0.5em;
  cursor: pointer;
  font-size: 5rem;
  border: 5px solid rgb(214, 214, 214);
  border-radius: 10px;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: inherit;
  backdrop-filter: blur(5px);
}
.play-btns__btn-bg {
  position: absolute;
  transition: all 0.3s ease-out;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateY(100%);
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
.play-btns__btn:hover .play-btns__btn-bg {
  transform: translateY(0);
}
.play-btns__btn-bg:nth-child(1) {
  background-image: url("../wave-btn/wave-btn-1.svg");
}
.play-btns__btn-bg:nth-child(2) {
  background-image: url("../wave-btn/wave-btn-2.svg");
  transition-delay: 0.1s;
}
.play-btns__btn-bg:nth-child(3) {
  background-image: url("../wave-btn/wave-btn-3.svg");
  transition-delay: 0.2s;
}
.play-btns__btn-bg:nth-child(4) {
  background-image: url("../wave-btn/wave-btn-4.svg");
  transition-delay: 0.3s;
}
.play-btns__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.join-form {
  display: flex;
  flex-direction: column;
}
.join-form label {
  cursor: pointer;
  font-size: 3rem;
  margin-top: 10px;
}
.join-form label:first-child {
  margin-top: none;
}
.join-form input {
  border: none;
  border-bottom: 3px solid black;
  font-size: 6rem;
  font-family: inherit;
}
.join-form #code {
  text-transform: uppercase;
}
.join-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* game */
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.game__screen {
  border: 3px solid black;
}
.game__chat {
  overflow-y: scroll;
  margin-left: 4em;
  border: 3px solid black;
  width: 300px;
  height: 500px;
}
.game__players {
  overflow-y: scroll;
  margin-right: 4em;
  border: 3px solid black;
  width: 300px;
  height: 500px;
}

.player {
  display: grid;
  height: 100px;
  border-bottom: 3px solid black;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.player__avatar {
  display: inline-block;
  padding: 0;
  grid-area: 1/1/3/2;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  align-self: flex-end;
  justify-self: center;
}
.player__name {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  font-size: 2.5rem;
}
.player__score {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
  font-size: 4rem;
}
/* wave  */
.wave-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.wave-section {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.wave {
  filter: invert(37%) sepia(65%) saturate(522%) hue-rotate(173deg)
    brightness(96%) contrast(84%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: url("../wave.png");
  background-size: 1000px 100px;
}
.wave1 {
  animation: boucing var(--wave-bounce-time) linear infinite;
  z-index: 5;
  opacity: 1;
  animation-delay: 0;
  bottom: 0;
}
.wave2 {
  animation: boucing var(--wave-bounce-time) linear infinite reverse;
  opacity: 4;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.wave3 {
  animation: boucing var(--wave-bounce-time) linear infinite;
  z-index: 3;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.wave4 {
  animation: boucing 2 var(--wave-bounce-time) linear infinite;
  z-index: 2;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes boucing {
  from {
    background-position: 0;
  }
  to {
    background-position: 1000px;
  }
}
